.expenses-form-container {
  display: flex;
  justify-content:space-between;
  
}

.add-expenses-btn {
  background-color: rgb(127, 127, 239);
  color: #fff;
  border: 1px solid #fff;
  padding: 1vh 2vw;
  border-radius: 5px;

}

.expenses-form-control-input {
  padding: 1vh 3px;
  margin-left: 0.7vw;
}
.expenses-form-control {
  label {
    color: #fff;
  }

  .cancel-expenses-btn {
    background-color: #ccc;
  color: rgb(25, 25, 98);
  border: 1px solid #fff;
  padding: 1vh 2vw;
  border-radius: 5px;
  }
}